.device_container{
    /* width: 40%; */
    max-width: 500px;
    min-width: 320px;
    min-height: 667px;
    margin:auto;
    border: 12px solid #B22222;
    border-radius: 10px;
}

.background_ios{
    background-image: url(./resources/ios_background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    margin: auto;
    z-index : 0;
}

.icon{
    background: #eeeeee;
    width: 17rem;
    padding: 1rem;
    margin: 2rem auto;
    text-align: center;
}

.icon h4{
    margin: 0.5rem 0;
    color: white;
    letter-spacing: 0.15rem;
}